
        body {
            font-family: ;
            background-color: #5a3569;
            margin: 20px;
        }
        h1 {
            font-family: 'Times New Roman', Times, serif;
            color: #756f1d;
            text-align: center;
        }
        h2 {
            font-family: 'Times New Roman', Times, serif;
            color: rgb(131, 62, 62);
            text-align: left;
        }
        p {
            text-align: justify;
            color:#ffffff;
            line-height: 1.6;
        }